API_HOST_PORT="0.0.0.0:8080"
API_GRACEFUL_WAIT_TIME="30s"

MONGO_HOST=
MONGO_USER=
MONGO_PASSWORD=
MONGO_DATABASE=
MONGO_COLLECTION=

REDIS_PASSWORD=
REDIS_HOST=

MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

RABBIT_USER=
RABBIT_PASS=

SPLUNK_HOST=
SPLUNK_PASSWORD=
SPLUNK_TOKEN=
SPLUNK_SOURCE=
SPLUNK_SOURCETYPE=
SPLUNK_INDEX=


DD_ENV="development"
DD_SERVICE="scaffolding"
DD_WITH_PROFILER=false